# 1) Ignore tout à la racine
/*

# 2) Mais inclure ces fichiers essentiels
!/.gitignore
!/package.json
!/yarn.lock

# 3) Ignore dossiers de config et dépendances locales
/.vscode/
/certs/
/node_modules/
/.env*

# 4) Inclure ton code source
!/src/
/src/**

# 5) Excepter le dossier dist, mais n’inclure que main.js
!/dist/
/dist/*
!/dist/main.js