# --- commencer par ré-inclure .github/workflows ---
!/.github/
!/.github/workflows/
!/.github/workflows/*.yml

# --- puis le reste de ton .gitignore ---

# Ignore tout à la racine
/*

# Exception pour les fichiers essentiels
!/.gitignore
!/package.json
!/yarn.lock

# Ignore dossiers de config et dépendances locales
/.vscode/
/certs/
/node_modules/
/.env*

# Inclure le code source
!/src/
/src/**

# Excepter dist/main.js
!/dist/
/dist/*
!/dist/main.js