# 1. On ignore tout à la racine
/*

!/src/
!/src/**
!/vite.config.js

# 2. Exceptions — remonte .github WORKFLOWS en premier
!/.github/
!/.github/workflows/
!/.github/workflows/*.yml

# 3. Autres exceptions : fichiers essentiels
!/.gitignore
!/package.json
!/yarn.lock

# 4. Ignore dossiers de config et dépendances
/.vscode/
/certs/
/node_modules/
/.env*

# 6. Excepter dist/main.js
!/dist/
/dist/*
!/dist/main.js